<!DOCTYPE html>
<html lang="es">

<head>
    <title>FoodLand</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

</head>
<body>
<!-- Resto del código -->
<nav class="navbar navbar-expand-lg navbar-dark color-menu">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
            <img src="./imatges/foodland-logo.jpeg" alt="Logo de Foodland" width="30" height="30"
                 class="d-inline-block align-text-top">
            FOODLAND
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="recetas.html">Recetas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="dietas.html">Dietas</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="app">
    <div class="container">
        <div class="row">
            <div class="search-bar my-3">
                <input type="text" v-model="busquedaPorNombre" class="form-control form-control-lg"
                       placeholder="Buscar receta por nombre...">
            </div>

            <div class="search-bar my-3">
                <select v-model="tiempoFiltrado" class="form-select form-select-lg mt-3">
                    <option value="900">Todos los tiempos</option>
                    <option value="15">15 minutos</option>
                    <option value="20">20 minutos</option>
                    <option value="30">30 minutos</option>
                    <option value="40">40 minutos</option>
                    <option value="45">45 minutos</option>
                </select>
            </div>

            <div v-for="receta in recetasFiltradas" :key="receta.nombre" class="col-sm-6 col-md-4 col-lg-3">
                <div class="recipe-card">
                    <img :src="receta.imagen" :alt="receta.nombre" class="img-fluid">
                    <h2>{{ receta.nombre }}</h2>
                    <p>Tiempo: {{ receta.tiempo }} minutos</p>
                    <ul>
                        <li v-for="ingrediente in receta.ingredientes">{{ ingrediente.nombre }} - {{ ingrediente.precio
                            }} €
                        </li>
                    </ul>
                    <a :href="receta.url" class="btn btn-primary">Ver más</a>
                    <button @click="agregarALaCesta(receta.ingredientes)" class="btn btn-success"><i
                            class="bi bi-cart"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div id="cestaModal" :class="{ 'abierto': cestaAbierta } ">
        <div class="contenido-modal">
            <h2>Tu Cesta</h2>
            <li v-for="ingrediente in cesta">{{ ingrediente.nombre }} - {{ ingrediente.precio }} €</li>


            <p>Total: {{ precioTotal }} €</p>
            <button @click="seguir" class="btn btn-primary mt-2">Seguir comprando</button>
            <button @click="pagar" class="btn btn-success mt-2">Pagar</button>
            <button @click="cerrarCesta" class="btn btn-danger mt-2">Cerrar</button>
        </div>
    </div>
    <div id="pagarModal" :class="{ 'abierto': pantallaPagar }">
        <div class="contenido-modal">
            <h2>Tu Pago</h2>
            <p>Total: {{ precioTotal }} €</p>
            <div class="mb-3">
                <label form="email" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" id="mail" name="email">
            </div>
            <div class="mb-3">
                <label form="email" class="form-label">Dirección</label>
                <input type="adress" class="form-control" id="adress" name="adress">
            </div>
            <div class="mb-3">
                <label form="email" class="form-label">Targeta de crédito</label>
                <input type="Targeta" class="form-control" id="Targeta" name="Targeta">
            </div>

            <button @click="pagarFinal" class="btn btn-success mt-2">Pagar</button>
            <button @click="cerrarPagar" class="btn btn-danger mt-2">Cerrar</button>
        </div>
    </div>
</div>
</div>
<footer class="navbar navbar-expand-lg navbar-dark color-menu mt-auto">
    <div class="container-fluid">
        <div class="navbar-text ms-auto">&copy; 2023 FoodLand</div>
    </div>
</footer>

</body>
</html>
</body>
</html>
