.navbar-nav, .navbar-brand {
    font-size: 30px;
}

.color-menu{
    background-color: #6ba07d;
}
.recipes-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
    max-height: 75%;
}
.recipe-card {
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    padding: 20px;
    height: 600px;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
}
.recipe-card .btn-primary {
    position: absolute; /* set the position of the button to absolute */
    bottom: 20px; /* Mover el botón a la parte inferior del contenedor secundario */
    left: 20px; /* Mover el botón a la parte izquierda del contenedor secundario */
    margin: 0;
}
.recipe-card img {
    max-width: 100%;
    height: auto;
}
.receta-img {
    width: 150px;
    height: 150px;
}
body {
    padding-bottom: 50px; /* 70px es la altura del footer */
}
footer{
    height: 50px;
}


.dieta-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    padding: 20px;
    max-height: 75%;
}
.dieta-card {
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    padding: 20px;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.comidas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.comida-item {
    background-color: lightgray;
    padding: 10px;
    width: calc(100% / 7 - 10px); /* Ajusta el ancho de cada item según la cantidad de columnas deseadas */
    margin-bottom: 10px;
}
